# DAY 2 of Advent of code

## Part 1
**Prompt**:
The engineers are trying to figure out which reports are safe. The Red-Nosed reactor safety systems can only tolerate levels that are either gradually increasing or gradually decreasing. So, a report only counts as safe if both of the following are true:

The levels are either all increasing or all decreasing.
Any two adjacent levels differ by at least one and at most three.
In the example above, the reports can be found safe or unsafe by checking those rules:

7 6 4 2 1: Safe because the levels are all decreasing by 1 or 2.
1 2 7 8 9: Unsafe because 2 7 is an increase of 5.
9 7 6 2 1: Unsafe because 6 2 is a decrease of 4.
1 3 2 4 5: Unsafe because 1 3 is increasing but 3 2 is decreasing.
8 6 4 4 1: Unsafe because 4 4 is neither an increase or a decrease.
1 3 6 7 9: Safe because the levels are all increasing by 1, 2, or 3.
So, in this example, 2 reports are safe.

Analyze the unusual data from the engineers. How many reports are safe

In [3]:
## load libraries
import os
import pandas as pd

In [53]:
## load text
with open('input/day_2.txt','r') as file:
    day2_input = file.read()

#split into lines
lines = day2_input.split('\n')

data = [line.split() for line in lines]
df_day2 = pd.DataFrame(data)

#convert string to numeric
df_day2 = df_day2.apply(pd.to_numeric)

In [54]:
df_day2

      0   1   2   3   4     5     6     7
0     3   6   7   9  11   8.0   NaN   NaN
1    21  24  25  26  29  30.0  32.0  32.0
2    29  32  33  34  35  37.0  38.0  42.0
3    54  55  57  58  60  61.0  63.0  70.0
4    59  61  60  63  65  68.0  71.0   NaN
..   ..  ..  ..  ..  ..   ...   ...   ...
995  14  13  12   9   6   5.0   4.0   3.0
996  59  56  53  52  50  48.0  45.0   NaN
997  51  48  45  42  40  39.0  36.0   NaN
998  99  96  93  91  88  85.0  82.0  80.0
999  22  21  18  16  14  13.0  12.0  10.0

[1000 rows x 8 columns]

In [130]:
#write function to check line 

def check_criterae(temp_line):
    line_good=0

    #CRITERIA 1: MUST EITHER ALL INCREASE OR DECREASE
    cond1 = all(i < j for i, j in zip(temp_line, temp_line[1:]))
    cond2 = all(i >= j for i, j in zip(temp_line, temp_line[1:]))

    if(cond1 or cond2):
        #CRITERIA 3: Any two adjacent levels differ by at least one and at most three.
        cond3 = all(abs(i - j) > 0 for i, j in zip(temp_line, temp_line[1:]))
        cond4= all(abs(i - j) <= 3 for i, j in zip(temp_line, temp_line[1:]))
            
        if(cond3 and cond4):
                line_good=1
    
        else:
            next
    else:
        next

    return(line_good)

In [74]:
safe_iter=0
for line in range(0,df_day2.shape[0]):
    temp_line=df_day2.loc[line].dropna()

    line_good = check_criterae(temp_line)
    safe_iter = safe_iter+line_good     

print(safe_iter)

686

## PART 2

**PROMPT**
The engineers are surprised by the low number of safe reports until they realize they forgot to tell you about the Problem Dampener.

The Problem Dampener is a reactor-mounted module that lets the reactor safety systems tolerate a single bad level in what would otherwise be a safe report. It's like the bad level never happened!

Now, the same rules apply as before, except if removing a single level from an unsafe report would make it safe, the report instead counts as safe.

More of the above example's reports are now safe:

7 6 4 2 1: Safe without removing any level.
1 2 7 8 9: Unsafe regardless of which level is removed.
9 7 6 2 1: Unsafe regardless of which level is removed.
1 3 2 4 5: Safe by removing the second level, 3.
8 6 4 4 1: Safe by removing the third level, 4.
1 3 6 7 9: Safe without removing any level.
Thanks to the Problem Dampener, 4 reports are actually safe!

Update your analysis by handling situations where the Problem Dampener can remove a single level from unsafe reports. How many reports are now safe?

In [129]:
safe_iter=0

for line in range(0,df_day2.shape[0]):
    temp_line=df_day2.loc[line].dropna()

    line_good = check_criterae(temp_line)
    if(line_good==1):
        safe_iter=safe_iter+line_good
    else:
        for val in range(0,(len(temp_line)-1)):
            new_line=temp_line.drop(val)
            good_yes=check_criterae(new_line)
            if(good_yes==1):
                safe_iter=safe_iter+good_yes
                next

print(safe_iter)

717